<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        .input-validation-error {
            border: 1px solid red;
        }
    </style>
</head>
<body>

    <form method="post">
        Name:
        @Html.TextBox("Name")
        Email:
        @Html.TextBox("Email")
        Salary:
        @Html.TextBox("Salary")

        Choose you Gender?
        Male:   @Html.RadioButton("Gender", true)
        Female: @Html.RadioButton("Gender", false)
        <input type="submit" value="Submit" />
    </form>

</body>
</html>