@model Employee
@{
    ViewBag.Title = Model.Name;
}

<ul>
    <li>Id : @Model.Id</li>
    <li>Name : @Model.Name</li>
    <li>Email : @Model.Email</li>
    <li>Salary : @Model.Salary</li>
    <li>Gender : @Model.Gender</li>
</ul>